@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: font-mono font-extralight;
}
/* BLOB BACKGROUND STYLES */
.blob-outer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  filter: blur(220px);
}

.blob-inner-container {
  border-radius: 99999px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  background-color: #ffffff;
}

.blob {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: conic-gradient(from 0deg, rgb(10, 35, 255), rgb(247, 247, 59), #adff8c, #8657f4, #ef58a1, #09f);
  animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(2);
  }
  100% {
    transform: rotate(1turn) scale(2);
  }
}
@keyframes fade-in {
  0% {
    opacity: 100;
    transform: translateY(300px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fade-in 3s ease-out forwards;
}

@font-face {
  font-family: 'Boheme Floral';
  src: url('/fonts/BohemeFloral.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.font-boheme {
  font-family: var(--font-boheme), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(197, 236, 253), 0 0 20px rgb(197, 236, 253);
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(197, 236, 253), 0 0 40px rgb(197, 236, 253);
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px rgb(197, 236, 253), 0 0 20px rgb(197, 236, 253);
  }
}

.glow-text {
  animation: glow 5s ease-in-out infinite;
}

